.result-list {
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.container-result-row {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  margin: 2vh 0vw;
}

.container-result-row-contents {
  display: flex;
  margin: auto;
}

.container-result-row-user-date {
  justify-content: space-between;
  padding: 0.5vh 1vw 0;
}

.container-result-row-content {
  justify-content: center;
  padding: 0 1vw;
}

.container-result-row-tags {
  padding: 0 0 0.5vh 0.5vw;
}
