.loader {
  align-self: center;
  border: 1vmin solid lightgray;
  border-top: 1vmin solid black;
  border-radius: 50%;
  width: 3vmin;
  height: 3vmin;
  animation: spin 1.5s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
