.app {
  text-align: center;
  background-color: whitesmoke;
  height: 100%;  
}

.paper-display-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2% 15%;
  min-height: 82vh;
}

.container-index-select-form {
  margin: 1vh 2vw 1vh 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.searchInputs{  
  display: flex;
}

.container-index-select-form input {
  padding: 1vmin;
  border-radius: 2vmin;
}
.container-index-select-form input[type="text"] {    
  outline:none;
  flex:1;
}
.container-index-select-form input[type="submit"]:hover {    
  cursor: pointer;
}

.container-index-select-form input[type="submit"]:disabled {
  cursor: not-allowed;
}

.container-result-list {
  margin: 0 2vw 0 2vw;
  flex-grow: 2;
}

.pagination {
  display: inline-block;
  padding: 0;
}

.pages {
  display: inline-block;
  border: 1px solid rgb(200, 200, 200);
  font-size: 1em;
  padding: 1vmin;
  cursor: pointer;
}

.pages:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.pages.active {
  background-color: rgb(200, 200, 200) !important;
}

.pages.loading, .pages.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.pages.loading:hover {
  background: transparent;
}
