.FullTextInput {
    width:-webkit-fill-available;
    padding: 1vh 1vw !important;    
    resize: none;
}

.TagTextInput {
    width:-webkit-fill-available;
    border-radius: 0px !important;
    padding: 1vh 1vw !important;  
}
